.bet-container, .play-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-bottom: 2em;
}

#player-hand{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body{
    background-image: URL(../images/game-bg.jpg);
    background-size: cover;
}

.hidden{
    opacity: 0;
}

#dealer-hand{
    display: flex;
    justify-content: center;
}

.cover-card{
    position:absolute;
    right:50%;
}

.text-top, #dealer-hand-value, #player-hand-value, #player-money{
    color: white;
}